#include("../common/_layout.html")
#include("../common/_navbar.html")
#@layout()

#define content()
	#@navbar("detail")
	<div class="container">
		<h1>一览</h1>
		<div class="btn-group btn-group-lg btn-group-justified" role="group" aria-label="...">
			<a class="btn btn-default" href="#" id="servent">角色</a>
			<a class="btn btn-default" href="#" id="craft">符卡</a>
		</div>
		<div class="table-responsive">
			<table class="table" id="resultTable">
				<caption id="tableName">{{ title }}</caption>
				<thead id="tableHead">
					<tr>
						<td>名称</td>
						<td>稀有度</td>
						<td>等级</td>
						<template v-if="type === 'servent'">
						<td>职阶</td>
						<td>ATK</td>
						<td>HP</td>
						</template>
					</tr>
				</thead>
				<tbody id="tableBody">
					<tr v-for="card in cards" v-bind:class="[card.rareColorClass]">
						<td>{{ card.name }}</td>
						<td class='starColor'>{{ card.rareSHOW }}</td>
						<td>{{ card.level }}</td>
						<template v-if="type === 'servent'">
						<td>{{ card.className }}</td>
						<td>{{ card.atk }}</td>
						<td>{{ card.health }}</td>
						</template>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script type="text/javascript">
		var app = new Vue({
		  el: '#resultTable',
		  data: {
			  title: '',
			  type: '',
			  cards:[]
		  }
		});
		$("#servent").click(function(){
			$("#resultTable").hide();
			$.post("detail/loadServent",function(data){
				app.cards = [];
				app.title = "角色";
				app.type = "servent";
				for(var i=0;i<data.length;i++){
					var row = data[i];
					var info = DATA_DB["servent"][row.sid];
					var card = {};
					card.rareColorClass = "rareColor"+info.rare;
					card.name = info.name;
					card.rareSHOW = rareSHOW[info.rare];
					card.level = row.level;
					card.className = DATA_DB["class"][info.type];
					card.atk = info.atk+row.level*info.atkRate;
					card.health = info.health+row.level*info.healthRate;
					app.cards.push(card);
				}
				$("#resultTable").show();
			});
			
			return false;
		});
		$("#craft").click(function(){
			$("#resultTable").hide();
			$.post("detail/loadCraft",function(data){
				app.cards = [];
				app.title = "符卡";
				app.type = "craft";
				for(var i=0;i<data.length;i++){
					var row = data[i];
					var info = DATA_DB["craft"][row.sid];
					var card = {};
					card.rareColorClass = "rareColor"+info.rare;
					card.name = info.name;
					card.rareSHOW = rareSHOW[info.rare];
					card.level = row.level;
					app.cards.push(card);
				}
				$("#resultTable").show();
			});
			
			return false;
		});
		var rareSHOW={"1":"★","2":"★★","3":"★★★","4":"★★★★","5":"★★★★★"};
	</script>
	<script src="js/db.js"></script>
#end

#define css()
<style type="text/css">
.starColor {
	color: #FFFF00;
}
.rareColor1 {
	background-color: #663300;
}
.rareColor2 {
	background-color: #663300;
}
.rareColor3 {
	background-color: #999999;
}
.rareColor4 {
	background-color: #FF9900;
}
.rareColor5 {
	background-color: #FF9900;
}
</style>
#end