.starColor {
	color: #FFFF00;
}
.rareColor1 {
	background-color: #663300;
}
.rareColor2 {
	background-color: #663300;
}
.rareColor3 {
	background-color: #999999;
}
.rareColor4 {
	background-color: #FF9900;
}
.rareColor5 {
	background-color: #FF9900;
}